body {
    background-color: orange;
    background: -moz-linear-gradient(top, rgba(244, 126, 24, 0.95) 25%, rgba(244, 126, 24, 0.75) 60%, rgba(0, 0, 0, 0) 100%) fixed, /* Adding "fixed" property ensures the gradient doesn't repeat */
    url("./img/background.png");
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(244, 126, 24, 0.95)), color-stop(60%, rgba(244, 126, 24, 0.75)), color-stop(100%, rgba(0, 0, 0, 0))) fixed, /* Adding "fixed" property ensures the gradient doesn't repeat */
    url("./img/background.png");
    background: linear-gradient(to bottom, rgba(244, 126, 24, 0.95) 25%, rgba(244, 126, 24, 0.75) 60%, rgba(0, 0, 0, 0) 100%) fixed, /* Adding "fixed" property ensures the gradient doesn't repeat */
    url("./img/background.png");
}

h1 {
    font-weight: em;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: green;
    text-align: center;
}

a:visited a:link {
    color: white;
}

.logo {
    border: 0;
    margin: 30px;
    margin-left: 0px;
    margin-top: 15px;
    max-width: 100%;
    height: auto;
}

.site-banner {
    background-image: url("./img/banner-marvel.jpg");
    background-color: #cccccc;
    background-size: 100% auto;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    /* top > right > bottom > left (clockwise winding) */
    border-color: black;
    display: flex;
    /* Makes contents fit dynamically inside parent container */
    align-items: flex-start;
    /* Sets containing items to align towards top left */
    height: auto;
}

.site-nav-bar {
    background: rgba(32, 70, 164, 1);
    height: auto;
    /* Height auto so it encapsulates the nav buttons*/
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    /* top > right > bottom > left (clockwise winding) */
    border-color: black;
}

.nav-item {
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

/* TODO: Make the carousel work on small screens
/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    .carousel{max-height: 277px;}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}
/* tablets/desktops and up ———– */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* large desktops and up ———– */
@media screen and (min-width: 1200px) {
}

.carousel{
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: 500px;
}

.carousel-inner{
    max-height: inherit;
}

/* 277 px height for the smallest*/
.carousel-item {
    height: auto;
    max-height: inherit;
}

.carousel-caption {
    bottom: 0%;
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 5px black;
    background: rgba(0,0,0,0.5);
}

.carousel-caption>h5 {
    font-size: 2em;
}

.carousel-caption>p {
    font-size: 1.25em;
}

.carousel-row {
    margin-top: 10px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

.slideshow-img {
    height: inherit;
    width: auto;
}

.object-fit_cover{
    object-fit: cover;
}

.product-info {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.product-title {
    color: black;
}

.product-price {
    text-align: right;
    font-weight: bold;
    color: red;
}

.product-display {
    padding-top: 10px;
    border: 5px solid black;
    background: white;
    max-width: 100%;
    height: auto;
    width: auto/9;
    margin: 10px;
}

.product-thumbnail {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
    height: auto;
}

.product-info {}